# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: CustomCI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: codebuild -scheme PlatformKit -destination 'platform=iOS Simulator,name=iPhone 17' clean build
    - name: Run tests
      run: codebuild -scheme PlatformKit -destination 'platform=iOS Simulator,name=iPhone 17' clean test
